/*
BEM = Bloque - Elemento - Modificador

Everything class, not IDs

Class -> styles
IDs -> functionality (Javascript)

.block
.block__element
.block__element--modifier
*/

.cards {
    /*1 size*/
    width: 400px;
    /*2 margins*/
    margin: 0px auto;
    padding: 10px;
    /*3 borders*/
    border: 1px solid grey;
    border-radius: 10px;
    /*4 remaining styles*/
    box-shadow: 0px 0px 20px grey;


}

.cards__card {
    font-family: 'Courier New', Courier, monospace;
    padding: 12px;
    margin: 5px;
    background-color: lightcoral;
    border-radius: 10px;
}

.card__title {
    font-size: 24px;
    font-weight: bold;
}

.card__link {
    padding: 10px;
    border-radius: 10px;
    background: lightgreen;
    color: lightslategray;
    text-decoration: none;
}

.card__link--red{
    background-color: red;
    color: white;
}