/*General styles*/
:root {
    --mainColor: #5b7fc5;
    /*#5b7f24;*/
    --whiteColor: #fff;
    --bgColor: #F2F7F9;
    --transpColor: transparent;
    --iconColor: #B5B6B7;
    --subtitleColor: #888;
    --blackColor: #222;
    --generalText: #555;
    --scrollBarColor: #d3d3d3;
    --scrollBarColorbg: #eee;
}

/*with this font size, we set the rem units*/
html {
    font-size: 10px;
}

body {
    width: 100%;
    height: auto;
    background-color: var(--bgColor);
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: var(--generalText);
    overflow: hidden;
    background-image: url('/portfolio/assets/img/pattern.png');
}


h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--blackColor);
}

/*background img*/



/*layout*/

.layout {
    position: relative;
    min-width: 1290px;
    width: 75%;
    height: 80vh;
    min-height: 80vh;
    margin: 10vh auto;
    display: grid;
    grid-template-areas: "aside content";
    grid-template-columns: 30% 70%;
    border-radius: 4rem;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.25);
    background-color: white;
}


.layout__aside {
    grid-area: aside;

    border-radius: 4rem 0 0 4rem;
    overflow: auto;
    overflow-x: hidden;

}

.aside__userinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100%;
    min-width: 30rem;

    background-color: var(--mainColor);

    color: var(--whiteColor);
}

.general__containerimage {
    position: relative;
    display: inline-block;
    width: 18rem;
    margin-top: 7rem;
    z-index: 1;
}

.general__image {
    width: 100%;
    background-color: var(--whiteColor);
    border: 0.3rem solid var(--whiteColor);
    border-radius: 20rem;
}

.general__containerimage::after {
    content: "";
    position: absolute;
    top: 5%;
    left: 9%;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: -webkit-repeating-radial-gradient(center center, #fff, #fff 1px, transparent 0px, transparent 100%);
    background-size: 0.6rem 0.6rem;
    border-radius: 30rem;
    opacity: 0.3;
}

.general__name {
    font-size: 3.2rem;
    margin-top: 2.6rem;
    color: var(--whiteColor);
}

.general__job {
    font-size: 1.7rem;
    font-weight: 200;
    color: var(--whiteColor);
}

.userinfo__userlinks {
    margin-bottom: 3.6rem;
}

.userlinks__social {
    margin-top: 2rem;
    text-align: center;
    display: flex;
    flex-direction: row;

}

.social__option {
    height: 3rem;
    width: 3rem;
    font-size: 1.8rem;
    line-height: 3.2rem;
    opacity: 0.9;
    border-radius: 3rem;
    transition: all 300ms linear;
}

.social__option:hover {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.20);
}

.userinfo__buttons {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.userinfo__btn {
    border: 0.1rem solid var(--whiteColor);
    border-radius: 3rem;
    padding: 1.3rem 1.2rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.22);
    transition: all 300ms ease-in-out;
}

.userinfo__btn:hover {
    background-color: var(--whiteColor);
    color: var(--mainColor);
}

.userinfo__footer {
    position: absolute;
    bottom: 2rem;
    font-size: 1.2rem;
}

.layout__content {
    grid-area: content;
    height: 100%;
    min-height: 100%;
    background-color: var(--mainColor);
    border-radius: 0 10rem 10rem 0;
}

.content__page {
    height: 100%;
    min-height: 100%;
    background-color: var(--whiteColor);
    border-radius: 3.2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.page__name {
    font-size: 6rem;
    margin-bottom: 1rem;
}

.page__job {
    font-size: 2.1rem;
    font-weight: lighter;
    color: var(--subtitleColor);
}

/*MENU*/


.userinfo__menu {
    display: block;
    position: absolute;
    top: 0;
    right: -100px;
    min-width: 11rem;
    background-color: var(--transpColor);
}

.menu__list {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    min-height: 32rem;
    padding: 2rem 0;
    margin-left: 2.5rem;
    background-color: var(--whiteColor);
    box-shadow: 0 0 3rem -0.5rem rgba(0, 0, 0, 0.20);
    border-radius: 5rem;
}

.menu__option {
    display: block;
    width: 100%;
    text-align: center;

}

.menu__icon {
    color: var(--iconColor);
    font-size: 2.8rem;
    transition: all 300ms ease-in-out;
}

.menu__option:hover .menu__icon,
.menu__link--active .menu__icon {
    color: var(--mainColor);
}

.menu__overlay {
    position: absolute;
    margin-top: -3rem;
    opacity: 0;
    display: block;
    color: var(--whiteColor);
    padding: 0.5rem 1rem;
    background-color: var(--mainColor);
    white-space: nowrap;
    transition: all 300ms ease-in-out;
}

.menu__option:hover .menu__overlay {
    opacity: 1;
    right: 100%;
}


/****************
 ** general Styles: about and rest of pages*
 ****************/


.content__about,
.content__experience,
.content__education {
    height: 100%;
    min-height: 100%;
    overflow: auto;
    padding: 4rem;
    padding-top: 6rem;
    display: block;
    text-align: left;
}

.about__header,
.experience__header,
.education__header {
    /*border: 1px solid red;*/
    margin-bottom: 4.5rem;
    display: inline-block;
}

.about__title,
.experience__title,
.education__title {
    font-size: 3.2rem;
    position: relative;
}

/*.about__title::after {
    content: "";
    position: absolute;
    height: 3rem;
    width: 5rem;
    background-image: -webkit-repeating-radial-gradient(center center, var(--subtitleColor), var(--subtitleColor) 1px, transparent 0px, transparent 100%);
    background-size: 0.6rem 0.6rem;
    top: 2rem;
    right: -2.5rem;
    z-index: 0;

}*/


.title__color {
    color: var(--mainColor);
}

.about__personalinfo {
    width: 100%;
    display: flex;
    margin-bottom: 10rem;
}

.personalinfo__bio {
    flex-basis: 55%;
}

.personalinfo__data {
    flex-basis: 45%;
    padding: 0 1.5rem;
}

.personalinfo__description {
    font-size: 1.8rem;
    line-height: 2.5rem;
}

.personalinfo__opt {
    margin-bottom: 1rem;
}

.personalinfo__title {
    margin-right: 0.5rem;
    color: var(--mainColor);
    font-weight: 600;
}

/*services*/

.about__services,
.about__areasofexpertise {
    width: 100%;
    margin-bottom: 3rem;
}

.services__header,
.areasofexpertise__header,
.education__subtitle,
.experience__subheader {
    display: block;
    padding-right: 1.2rem;
    position: relative;
    margin-bottom: 3rem;
}

.services__title,
.areasofexpertise__title {
    font-size: 2.1rem;
}

.service__i {
    color: var(--mainColor);
    font-size: 3.8rem;
}

.services__container,
.areasofexpertise__container {
    /*border: 1px dashed red;*/
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.services__service,
.areasofexpertise__area {
    flex-basis: calc(50% - 3rem);
    margin-right: 3rem;
    margin-bottom: 2.5rem;
}

.service__title,
.area__title {
    font-size: 1.8rem;
    margin: 0.5rem 0;
}

.service__desc,
.area__desc {
    font-size: 1.6rem;
    text-align: justify;
}


/********************
 * experience styles *
 ********************/

.experience__container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.timeline__job {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 5rem;
}

.job__header {
    flex-basis: 45%;
    text-align: right;
    padding-right: 2.5rem;
}

.job__years {
    margin: .3rem 0;
    line-height: 1.9rem;
    font-size: 1.6rem;
}

.job__company {
    display: block;
    font-size: 1.7rem;
    font-weight: 300;
    color: var(--mainColor);
}

.job__description{
    width: 50%;
    padding-left: 2.5rem;
}

.job__title{
    font-size: 2rem;
}

.responsabilities__list{
    font-size: 1.4rem;
    text-align: justify;
}

.job__divider{
    position: absolute;
    top: 0;
    left: 45%;
    bottom: -5rem;
    width: .1rem;
    background-color: var(--subtitleColor);
}

.job__divider::before{
    content: "";
    position: absolute;
    margin-top: 0.5rem;
    margin-left: -0.8rem;
    width: 1.7rem;
    height: 1.7rem;
    background-color: var(--mainColor);
    border-radius: 10rem;
    opacity: 0.50

}

.job__divider::after{
    content: "";
    position: absolute;
    margin-top: 0.8rem;
    margin-left: -0.5rem;
    width: 1.1rem;
    height: 1.1rem;
    background-color: var(--whiteColor);
    border-radius: 10rem;
    border: 0.2rem solid var(--mainColor);
    opacity: 1;   
}

.responsabilities__list {
    list-style-type: circle;
}

.education__item{
    margin-bottom: 3rem;
}

.education__item--degree {
    margin-bottom: 5rem;
}

.education__subtitle{
    margin: 0;
}